/* "color: #586069" -> "color: #bbb !important" */
.access-sub-heading, .add-member-team-list .team-meta,
.add-member-wrapper .available-seats, .audit-log-search .member-info .ghost,
.avatar-upload .upload-state p, .billing-manager-banner-title,
.billing-section .section-label, .blob-interaction-bar .octicon-search,
.blob-num-expandable .diff-expander, .blog-feedback-description,
.blog-home:hover, .blog-search .octicon-search, .bot-identifier,
.boxed-group .fork-flag, .boxed-group .heading a.boxed-group-breadcrumb,
.boxed-group-inner, .boxed-group-inner .help,
.boxed-group-list .access-level, .boxed-group>h3 a.boxed-group-breadcrumb,
.branch-group-name, .branch-infobar, .breadcrumb, .btn .Counter,
.btn-octicon, .capped-card>p, .casestudy-body blockquote, .casestudy-body ul,
.casestudy-body>p, .code-list .full-path .octicon-repo,
.collaborators .collab-remove .remove-link, .commit-group-title,
.commit-tease, .commits-list-item .commit-author,
.commits-list-item .commit-desc pre, .commits-list-item .commit-meta,
.confirm-removal-container .private-fork-count,
.confirm-removal-repo .octicon, .confirm-removal-team .octicon,
.contributors-graph .capped-card .cmt,
.contributors-graph .capped-card .rank, .Counter, .credit-card .cvv span,
.dashboard-notice .dismiss:hover, .default-permission-update-text,
.delete-owners-button, .deployment-meta, .diffstat, .diffstat-summary,
.discounted-original-price, .discussion-item .author,
.discussion-item-header, .discussion-item-help, .discussion-item-icon,
.discussion-item-integrations-callout .pull-request-integrations-dismiss,
.discussion-item-link, .discussion-item-ref-title .issue-num,
.discussion-item-toggle, .discussion-sidebar-heading,
.discussion-sidebar-item, .drag-and-drop, .drag-and-drop-error-info,
.dropdown-header, .email-actions span.label,
.email-format .email-quoted-reply, .email-format .email-signature-reply,
.environment-name, .exploregrid-item-meta, .facebox .facebox-staff-links li,
.facebox-footer .help, .file .data.empty, .filter-item,
.filter-list.pjax-active .filter-item, .follow-list .follow-list-info,
.form-checkbox .note, .full-commit .sha-block, .gh-header-meta,
.gh-header-meta .author, .ghe-license-status p,
.gist-revisions-list .gist-revision-meta,
.gist-snippet-meta .gist-count-links>li>a,
.gollum-dialog-dialog-body fieldset label,
.gollum-editor-function-bar .gollum-editor-format-selector label,
.graph-filter .info, .hanging-icon-list .octicon, .header-search-scope,
.hfields .form-group dt label, .integration-meta-head,
.integration-settings-callout p, .intgr-admin-link .octicon,
.intgrs-lstng-item-description, .issue-meta, .issues-reset-query,
.keyboard-mappings .keys, .Label--gray, .Label--outline, .label-description,
.labels-list-action, .lfs-data-icon, .line-age-legend,
.list-group-item .list-group-item-summary a, .listgroup-item,
.lock-toggle-link, .logo-placeholder, .logo-upload-container .upload-state p,
.manage-member-meta-item, .manage-member-meta-item .btn-link,
.manage-member-meta-item>.octicon, .manage-memberships-tabs-item,
.manage-repo-access-lead, .manage-user-role .role-info,
.marketing .pagehead p, .marketing-header .lead, .member-fullname,
.member-suggestion .already-member-note, .member-suggestion .member-name,
.member-suggestion .non-member-action, .member-suggestion .non-member-note,
.menu-heading, .merge-branch-description, .merge-pr-more-commits,
.migrate-ability-not-possible,
.migrate-org-avatar-list .migrate-org-more-ellipsis,
.migrate-org-avatar-list .migrate-org-zero,
.migrate-org-avatar-list .migrate-org-zero, .migrate-org-roles-count,
.migrate-org-roles-lead, .migration-feature-list,
.migration-feature-list .octicon, .milestone-name, .mini-repo-list .no-repo,
.mini-repo-list-item .repo-description, .news .alert .simple .title,
.news .github-welcome .done, .news blockquote, .news div.message,
.news li blockquote, .nonprofit-head .title, .note,
.notification-actions .age, .notification-actions .btn-link,
.notifications .read .list-group-item-name>a,
.notifications .read .notification-actions, .notifications .read .type-icon,
.notifications-list .mark-all-as-read, .notifications-sso-prompt a,
.numbers-summary .nolink, .numbers-summary a,
.oauth-app-info-container .user-count, .oauth-app-info-container dl.keys dt,
.oauth-no-description, .oauth-permissions-details .octicon,
.oauth-permissions-details .permission-summary .access-details,
.oauth-review-wrapper .no-description, .octofication .notice-dismiss:hover,
.org .no-results, .org-migration-settings-info, .org-privileges-tour-dismiss,
.org-repos-mini .org-repo-name .octicon-repo, .org-team-sidebar .team-note,
.org-user-notice-content .octicon, .orgs-help-dismiss,
.orgs-help-item-content, .orgs-help-lead, .owner-reponame .slash,
.pagehead-tabs-item, .pages-composer p, .participation a,
.payment-history .currency, .payment-history .status,
.pinned-repo-item .pinned-repository-handle, .project-header-link,
.projects-reset-query, .pull-request-integrations-body, .pullquote,
.range-editor-icon, .release-authorship, .release-timeline-tags .date,
.releases-tag-list p, .releases-tag-list td.date a,
.rename-owners-team-form .note, .repo-access-add-team .team-description,
.repo-access-add-team .team-size, .repo-snipit .octicon,
.repo-snipit-description, .repohead h1, .reponav-item, .repository-meta,
.security-history .security-history-timestamp,
.select-menu-item-text .description,
.select-menu-item-text .description-inline,
.select-menu-item.selected .description, .select-menu-modal,
.select-menu-no-results, .session-device,
.session-device.session-current .octicon,
.session-device.session-current .sessions-more-info,
.setup-creditcard-form .help-text, .setup-header .lead a,
.setup-info-module h2 .price, .setup-secondary .info, .shelf-lead,
.sidebar-assignee .assignee, .signed-commit-badge, .site-footer,
.site-header-nav .nav-item:hover, .stats-group-stat,
.stats-group-stat.no-link:hover, .status-meta, .steps .complete,
.Subhead-description, .subnav-item, .subnav-search-input,
.suggester li small, .summary-stats li, .summary-stats li a,
.table-list-header-meta, .table-list-header-toggle .btn-link,
.table-list-milestones .stat-label, .tabnav-extra, .tabnav-pr .tabnav-tab,
.tabnav-tab, .tag-references>li a, .task-progress,
.team-info-card .team-description .link, .team-label-ldap,
.team-list-footer .show-all-link .octicon, .team-member-ellipsis,
.team-suggestion .team-description, .team-suggestion .team-size,
.thread-subscription-status, .timeline-comment-header,
.timeline-comment-header .author, .timeline-comment-header-text code a,
.timeline-commits .commit-desc pre, .timeout h3, .toolbar-item,
.toolbar-item .menu-target, .tree-browser .octicon-file-text,
.two-factor-toggle .two-factor-status, .type-icon-state-none,
.underline-nav-item, .uploaded-files .filesize, .uploaded-files .remove,
.uploaded-files>li.delete,
.wiki-wrapper .wiki-auxiliary-content .wiki-edit-link,
.wiki-wrapper .wiki-custom-sidebar .octicon-pencil,
.wiki-wrapper .wiki-empty-box, .wiki-wrapper .wiki-empty-box:hover,
h2.account, li.contribution .cmt, li.contribution .num, p.explain,
ul.comparison-list>li em, ul.simple-conversation-list a.meta {
  color: #bbb !important;
}
/* "color: #444d56" -> "color: #ccc !important" */
.branches-tag-list li:first-child, .casestudy-body em, .casestudy-facts em,
.commit .commit-title, .commit .commit-title a, .commit-desc pre,
.commit-tease-sha, .ellipsis-expander, .email-format .email-hidden-toggle a,
.full-commit .branches-list li, .full-commit .sha-block>.sha,
.full-commit .sha-block>a, .hidden-text-expander a,
.illflow-item .illflow-item-heading, .keyboard-mappings, .markdown-body kbd,
.octofication .message p, .pagehead-tabs-item .Counter,
.reponav-item .Counter, .select-menu-action,
.select-menu-header .close-button:hover, .select-menu-header .octicon:hover,
.subnav-search-context .btn, .survey-box-lead, .timeline-commits .author,
.timeline-commits .commit-message>code a, kbd, table.capped-list .octicon,
table.capped-list.mini-icons .mini-icon {
  color: #ccc !important;
}
/* "color: #6a737d" -> "color: #aaa !important" */
.billing-addon-items .addon-cost,
.blame-container .blame-hunk:hover .reblame-link, .blog-aside .rss,
.blog-post-meta, .blog-post-meta a, .branch-search .clear-search,
.branches-tag-list li.loading, .code-list .full-path a, .commit-branches,
.conversation-list-heading, .credit-card.amex .title, .delete-topic-button,
.deployment-status-label, .developer-app-item .developer-app-list-meta,
.export-actions a, .full-commit .branches-list li.loading,
.full-commit .branches-list li.pull-request,
.gist-quicksearch-results .select-menu-item h4,
.gist-quicksearch-results .select-menu-item span,
.gist-snippet-meta .extra-info,
.gist-snippet-meta .gist-count-links>li .octicon, .gist-timestamp,
.graphs .dir, .hook-deliveries-list .item-status.pending,
.hook-delivery-time, .hook-item .description,
.hook-item.inactive .icon-for-inactive, .hook-item.pending .icon-for-pending,
.icon-cta>.octicon, .list-group-item .list-group-item-summary a.quiet,
.markdown-body blockquote, .markdown-body h6,
.marketplace-plan-link-container .marketplace-plans-remaining,
.member-badge .octicon, .mini-repo-list-item .stars,
.numbers-summary .octicon, .oauth-application-info .app-info,
.oauth-application-whitelist .edit-link,
.oauth-permissions-details.default:not(.delete) .access-details,
.oauth-permissions-details.default:not(.delete) .permission-title,
.oauth-permissions-details.none .access-details,
.oauth-permissions-details.none .permission-title,
.owner-select-target.disabled, .owner-select-target.disabled .user-mention,
.payment-history .refunded .status, .pinned-repos-selection-list-item,
.plan-choice-exp, .profile-rollup-toggle,
.profile-timeline-card .issue-meta-section .octicon, .release-label,
.repository-lang-stats ol.repository-lang-stats-numbers li>a,
.repository-lang-stats ol.repository-lang-stats-numbers li>span,
.select-menu-item.disabled, .select-menu-item.disabled .description,
.select-menu-item.disabled.selected,
.select-menu-item.disabled.selected .description,
.select-menu-tabs .select-menu-tab-nav, .select-menu-tabs a,
.settings-email .email-actions .settings-remove-email.settings-disabled-remove-email,
.simple-conversation-list, .simple-conversation-list>li .num,
.site-header-dark .site-header .site-header-actions, .table-list,
.task-run.inactive .icon-for-inactive, .task-run.pending .icon-for-pending,
.team-listing .expand-nested-team, .topic-tag-action .add-topic-button,
.topic-tag-action .remove-topic-button, .user-profile-bio,
.vcard-detail .octicon, table.files td .simplified-path, table.files td.age,
table.files td.message, table.files td.message a,
ul.comparison-list>li.title {
  color: #aaa !important;
}
