/* https://github.com/algolia/github-awesome-autocomplete */
.awesome-autocomplete .tt-dropdown-menu {
  border-color: #343434 !important;
  background-color: #181818 !important;
}
.awesome-autocomplete .aa-query strong,
.awesome-autocomplete .aa-query-default em,
.awesome-autocomplete .tt-suggestion .octicon {
  color: var(--base-color) !important;
}
.awesome-autocomplete .tt-suggestion .octicon-star {
  fill: #c0c0c0 !important;
}
.awesome-autocomplete .aa-category {
  background-color: #1d1d1d !important;
  border-top: 1px solid #343434 !important;
  border-bottom: 1px solid #343434 !important;
  color: #a0a0aa !important;
}
.awesome-autocomplete .tt-suggestion {
  border-color: #343434 !important;
}
.awesome-autocomplete .tt-suggestion:hover,
.awesome-autocomplete .tt-suggestion.tt-cursor {
  background: #333 !important;
}
.awesome-autocomplete .tt-suggestion:hover .aa-name {
  text-decoration: none !important;
}
.awesome-autocomplete .tt-suggestion em {
  background-color: var(---base-color) !important;
  color: #fff !important;
}
.awesome-autocomplete .aa-thumbnail {
  background-color: #181818 !important;
}
.awesome-autocomplete .aa-query, .awesome-autocomplete .aa-branding,
.awesome-autocomplete .aa-infos, .awesome-autocomplete .aa-login,
.awesome-autocomplete .aa-company, .awesome-autocomplete .aa-company i,
.awesome-autocomplete .aa-description, .awesome-autocomplete .aa-issue-body {
  color: #c0c0c0 !important;
}
.awesome-autocomplete .aa-thumbnail, .awesome-autocomplete .aa-thumbnail {
  background-color: #181818 !important;
}
.awesome-autocomplete .icon-delete {
  filter: invert(100%) !important;
}
