/* https://github.com/buunguyen/octotree */
.octotree_views .octotree_treeview .jstree-anchor .jstree-icon.tree:before,
.octotree_github_sidebar a.octotree_toggle:hover,
.octotree_github_sidebar a.octotree_opts:hover,
.octotree_github_sidebar a.octotree_opts.selected,
html .octotree_github_sidebar .octotree_views .octotree_treeview .jstree-anchor,
.octotree_github_sidebar a.octotree_toggle:not(.octotree_loading):hover {
  color: var(--base-color) !important;
}
/* octotree icons */
a.octotree_toggle:not(.octotree_loading) > span:after,
.octotree_github_sidebar a.octotree_opts, .octotree_help > span {
  filter: invert(100%) !important;
}
a.octotree_toggle:not(.octotree_loading):hover > span:after,
.octotree_github_sidebar a.octotree_opts:hover,
.octotree_treeview .jstree-icon.tree {
  filter: grayscale(100%) !important;
}
