/* GitHub Enterprise Only
 *                                 _____..---========+*+==========---.._____
 *    ______________________ __,-='=====____  =================== _____=====`=
 *   (._____________________I__) - _-=_/    `---------=+=--------'
 *       /      /__...---===='---+---_'
 *      '------'---.___ -  _ =   _.-'
 *                     `--------'
 */
.enterprise.page-profile .profilecols ul.stats li strong {
  color: #ccc;
  background: transparent !important;
}
.enterprise ul.selling-points li {
  color: #fff;
}
.enterprise .steps {
  margin: 20px auto 0;
  padding: 15px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
  background: #222;
  color: #fff;
}
.enterprise .dashboard-notice {
  background: #222 !important;
  color: #ccc;
}
.enterprise .autocomplete-item {
  color: #ccc;
}
.enterprise .repo-nav a:focus, .enterprise .repo-nav a:hover {
  border-radius: 0 !important;
  border-left: 1px solid #eee !important;
}
.enterprise .repo-nav a, .enterprise .repo-menu,
.enterprise .repo-nav a .counter {
  text-shadow: none !important;
  box-shadow: none !important;
}
.enterprise .repo-nav li > .selected:after {
  background: #333 none !important;
  border-color: #484848 !important;
}
.enterprise .repo-nav-contents {
  box-shadow: inset 1px 0 0 #333 !important;
}
.enterprise div.repo-nav-contents {
  background: rgba(34, 34, 34, .4) !important;
}
.enterprise ul.repo-menu a.selected {
  border-left: 1px solid transparent !important;
}
.enterprise .repo-menu-separator {
  border-bottom: 1px solid #333 !important;
}
.enterprise .repo-nav a.selected .octicon,
.enterprise .repo-menu a.selected:after,
.enterprise .repo-menu li:hover .octicon {
  color: #eee !important;
}
.enterprise .repo-menu-separator:before, .enterprise .repo-nav-contents:before,
.enterprise .repo-menu-separator, .enterprise .repo-nav-contents:after {
  background-color: transparent !important;
  background-image: none !important;
}
.enterprise .repo-nav a:focus, .enterprise .repo-nav a:hover {
  border-radius: 0 !important;
  border-left: 1px solid #eee !important;
}
.enterprise ul.repo-menu a.selected {
  border-color: #343434 !important;
}
