/* HACK: Label colors */
a.IssueLabel[href*="/issues?"][style*=" color: #f"],
a.IssueLabel[href*="/pulls?"][style*=" color: #f"],
.issue-card-label[style*=" color: #f"] {
  color: #e8e8e8 !important;
}
a.IssueLabel[href*="/issues?"][style*=" color: #e"],
a.IssueLabel[href*="/pulls?"][style*=" color: #e"],
.issue-card-label[style*=" color: #e"] {
  color: #e8e8e8 !important;
}
a.IssueLabel[href*="/issues?"][style*=" color: #d"],
a.IssueLabel[href*="/pulls?"][style*=" color: #d"],
.issue-card-label[style*=" color: #d"] {
  color: #e8e8e8 !important;
}
a.IssueLabel[href*="/issues?"][style*=" color: #c"],
a.IssueLabel[href*="/pulls?"][style*=" color: #c"],
.issue-card-label[style*=" color: #c"] {
  color: #e8e8e8 !important;
}
a.IssueLabel[href*="/issues?"][style*=" color: #3"],
a.IssueLabel[href*="/pulls?"][style*=" color: #3"],
.issue-card-label[style*=" color: #3"] {
  color: #181818 !important;
}
a.IssueLabel[href*="/issues?"][style*=" color: #2"],
a.IssueLabel[href*="/pulls?"][style*=" color: #2"],
.issue-card-label[style*=" color: #2"] {
  color: #181818 !important;
}
a.IssueLabel[href*="/issues?"][style*=" color: #1"],
a.IssueLabel[href*="/pulls?"][style*=" color: #1"],
.issue-card-label[style*=" color: #1"] {
  color: #181818 !important;
}
a.IssueLabel[href*="/issues?"][style*=" color: #0"],
a.IssueLabel[href*="/pulls?"][style*=" color: #0"],
.issue-card-label[style*=" color: #0"] {
  color: #181818 !important;
}
