/* text selection */
::selection {
  background-color: var(--base-color) !important;
  color: #fff !important;
}
::-moz-selection {
  background-color: var(--base-color) !important;
  color: #fff !important;
}
.CodeMirror-selected {
  background: rgba(255, 255, 255, .12) !important;
}
.CodeMirror ::selection {
  background: rgba(255, 255, 255, .12) !important;
}
.CodeMirror ::-moz-selection {
  background: rgba(255, 255, 255, .12) !important;
}
