/* GitHub Bug: Center discussion close icon vertically */
.discussion-item-closed .octicon {
  position: relative !important;
  top: -1px;
}
/* GitHub Bug: Center counters vertically on the line */
.boxed-group .counter, .reponav-item .counter, .boxed-group .Counter,
.reponav-item .Counter {
  position: relative !important;
  top: -1px !important;
}
/* GitHub Bug: Fix image swipe handle misalignment */
.swipe .swipe-frame .swipe-bar .top-handle,
.swipe .swipe-frame .swipe-bar .bottom-handle {
  left: -6px !important;
}
/* GitHub Bug: Fix text selection not working on inline <code> bug in Firefox */
.markdown-body code, .markdown-body tt {
  padding: 0 .3em !important;
  display: inline-block !important;
  max-width: 100% !important;
}
/* GitHub Bug: Stop commit message field from resizing horizontally */
#commit-description-textarea {
  resize: vertical !important;
}
/* GitHub Bug: Fix broken position:sticky emulation in Firefox */
@supports (position: sticky) {
  .discussion-sidebar {
    position: sticky !important;
    top: 0 !important;
  }
  .discussion-sidebar-sticky {
    position: static !important;
    width: auto !important;
  }
  .discussion-sidebar .is-placeholder {
    display: none !important;
  }
}
/* GitHub Bug: Fix org layout issue */
/* https://github.com/isaacs/github/issues/934 */
.user-profile-repo-filter {
  width: 100% !important;
}
/* Tweak: Square counters, add 1px padding on bottom to counter uneven font size */
#conversation_tab_counter, #commits_tab_counter, #files_tab_counter,
.reponav-item .counter, .reponav-item .Counter {
  border-radius: 2px !important;
  padding: 2px 5px 3px !important;
}

/* HACK: Fix review comment timeline */
/* https://github.com/nodejs/node/pull/8519#r78637092 */
.review-comment-contents:after, .review-comment.is-comment-editing:after {
  z-index: 0 !important;
}

/* https://github.com/StylishThemes/GitHub-Dark/issues/620 */
.timeline-comment-header .css-truncate-target {
  max-width: 250px !important;
}
