/* scroll bar */
::-webkit-scrollbar {
  max-width: 10px !important;
  max-height: 10px !important;
  background: #1d1d1d !important;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: #1d1d1d !important;
}
::-webkit-scrollbar-thumb {
  background: rgba(175, 175, 175, .5) !important;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--base-color-rgb), .8) !important;
}
