/* contribution calendar  */
.calendar-graph rect[fill="#c6e48b"], .calendar-graph rect[fill="#7bc96f"],
.calendar-graph rect[fill="#239a3b"], .calendar-graph rect[fill="#196127"],
.contrib-legend li, .contribution-activity-listing .progress-bar {
  background-color: var(--base-color) !important;
  fill: var(--base-color) !important;
}
.calendar-graph .days-selected rect.day.active {
  stroke: #ddd !important;
}
.calendar-graph rect.day:hover {
  stroke: #fff !important;
}
/* contribution progress bars on user page */
.contribution-activity-listing .progress-bar[style*="7bc96f"],
.facebox-close:hover {
  opacity: 1 !important;
}
.contribution-activity-listing .progress-bar[style*="c6e48b"], .facebox-close {
  opacity: .75 !important;
}
/* contribution calendar/legend - regular colors */
.calendar-graph rect[fill="#ebedf0"], .contrib-legend li[style*="#ebedf0"] {
  background-color: #222 !important;
  fill: #222 !important;
}
.calendar-graph rect[fill="#196127"], .contrib-legend li[style*="#196127"] {
  opacity: 1 !important;
}
.calendar-graph rect[fill="#239a3b"], .contrib-legend li[style*="#239a3b"] {
  opacity: .75 !important;
}
.calendar-graph rect[fill="#7bc96f"], .contrib-legend li[style*="#7bc96f"] {
  opacity: .5 !important;
}
.calendar-graph rect[fill="#c6e48b"], .contrib-legend li[style*="#c6e48b"] {
  opacity: .25 !important;
}
/* contribution calendar - halloween colors */
.calendar-graph rect[fill="#FFEE4A"], .calendar-graph rect[fill="#FFC501"],
.calendar-graph rect[fill="#FE9600"], .contrib-legend li[style*="#FFEE4A"],
.contrib-legend li[style*="#FFC501"], .contrib-legend li[style*="#FE9600"] {
  background-color: #fe9600 !important;
  fill: #fe9600 !important;
}
.calendar-graph rect[fill="#FFEE4A"], .contrib-legend li[style*="#FFEE4A"] {
  opacity: .2 !important;
}
.calendar-graph rect[fill="#FFC501"], .contrib-legend li[style*="#FFC501"] {
  opacity: .4 !important;
}
.calendar-graph rect[fill="#FE9600"], .contrib-legend li[style*="#FE9600"] {
  opacity: .8 !important;
}
.calendar-graph rect[fill="#03001C"], .contrib-legend li[style*="#03001C"] {
  background-color: #fc3 !important;
  fill: #fc3 !important;
}
