/* remove shadow */
h1, h2, h3, h4, pre, pre *, code, tt, li, p, input, a, th, kbd, .news, .btn,
.metabox em.placeholder, table.notifications, #download_button, .comment-count,
em.date, input.search, #user-links, .upper_footer, .switcher > span:after,
.upgrades td, .blog-feedback, .description, .nav-bar-tabs, .pagination span,
.mini-icon-advanced-search, .count, .select-menu-title,
.select-menu-button:after, #repo-message, .usage-bar dt, #user-links .name img,
#common-issues, .upload-progress, .svg-tip, .meta, .flash, .flash-global,
#files .file .meta .info span, .file-box .meta .info span, body#com #header,
.search-filters, .usage-bar dd,
.avatar-stack.multiple-avatars .avatar:last-child,
.avatar-stack.multiple-avatars:before, .box-action, .file-diff-line,
.file-code-lines, #adv_code_search .search-page-input,
li.ssh-key .ssh-key-state-indicator.not-recent, #gist-form .gist-name-textbox,
.labels .label, .octotree_views .octotree_view .octotree_view_header,
.fullscreen-overlay textarea, .avatar-child, .discussion-item .label-color,
.coupons .coupon-form-body, .label-private, .repo-file-upload-progress,
.more-repos, .header .header-search-wrapper.focus,
.blame-commit .blame-commit-info, .label, .Label, .project-card,
.ajax-pagination-form .ajax-pagination-btn:focus {
  box-shadow: none !important;
}
a, button, p, ul, li, dl.form label, .formbody label, .js-context-button,
.footer-text, .octicon-mark-github, .minibutton span, span.name,
.diff-line-code, .num, .user-list em, .diff-expander .octicon-unfold:hover,
.select-menu-loading-overlay:before, .select-menu-item a, .minibutton,
.mini-icon, .mini-icon:before, .list-tip:before, .line-num-content,
.diff-expander .octicon-unfold, .minibutton i, .comment-header-author, .header,
.gist .gist-file .gist-meta, .logo-placeholder, .branch-group-heading,
.render-bar, .auth-form-header .octicon, .render-info .symbol, .article-meta,
.select-menu-title, .text-shadow-light, .text-shadow-dark, ul#bootcamp li a h4,
.Header {
  text-shadow: none !important;
}
/* add shadow */
.dropdown-menu, .word-upload-callout, .select-menu-modal {
  box-shadow: 0 3px 12px rgba(0, 0, 0, .4) !important;
}
.exploregrid-item {
  border-color: rgba(255, 255, 255, .075) !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05), 0 5px 10px rgba(0, 0, 0, .05) !important;
}
.exploregrid-item:hover {
  border-color: rgba(255, 255, 255, .15) !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .15), 0 8px 15px rgba(0, 0, 0, .3) !important;
}
.box-shadow-large {
  box-shadow: 0 1px 15px #000 !important;
}
img[src*="images/modules/checks"].box-shadow-large {
  box-shadow: 0 1px 15px #fff !important;
}
