/* Remove dotted borders on already otherwise higlighted elements (Firefox) */
.dropdown-item:focus, details-dialog:focus {
  outline: none;
}
/* focus hightlight */
a:focus, button:focus, [tabindex] {
  outline-color: var(--base-color) !important;
}
input.focus[type="text"], #adv_code_search .focus.search-page-label,
/* below selector has a ton of weight. Better to override it with
 * class selectors that unset box-shadow and rules here. Testable
 * on the repo tag editor */
input[type="text"]:focus:not(.js-color-editor-input):not(.tree-finder-input):not(.js-site-search-focus):not(.tag-input-inner),
.focused .drag-and-drop, #adv_code_search .search-page-label:focus,
input.focus[type="password"], input[type="password"]:focus,
input.focus[type="email"], input[type="email"]:focus,
input.focus[type="number"], input[type="number"]:focus,
input.focus[type="tel"], input[type="tel"]:focus, input.focus[type="url"],
input[type="url"]:focus, textarea.focus, textarea:focus, #q:focus ~ button,
input.color-editor-input:focus, #ghd-settings select:focus,
#ghd-settings input:focus, .intgrs-lstng-item:hover,
.ajax-pagination-btn:focus, .form-control.focus, .form-select.focus,
.form-select:focus, input[type="checkbox"]:focus, .upload-enabled.focused,
.project-column:focus, .project-card:focus {
  border-color: var(--base-color) !important;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075), 0 0 2px var(--base-color) !important;
  outline-color: var(--base-color) !important;
}
.dragover textarea, .dragover .drag-and-drop {
  box-shadow: 0 0 1px 1px var(--base-color) !important;
}
/* inputs */
select, input:not(.btn-link), textarea {
  -moz-appearance: none !important;
  background-color: #181818 !important;
  border-color: #343434 !important;
  color: #ccc !important;
}
/* below style currently does not work in Firefox, see */
/* https://bugzilla.mozilla.org/show_bug.cgi?id=1394491 */
optgroup, optgroup:before {
  color: #888 !important;
  background-color: #181818 !important;
}
/* custom checkbox and radio styles. We need a full set of styles here as
 * WebKit removes all of them when -webkit-appearance: none is set. */
input[type="checkbox"], input[type="checkbox"]:focus, input[type="radio"],
input[type="radio"]:focus, input[type="checkbox"]:hover:active,
input[type="radio"]:hover:active, input[type="checkbox"]:disabled,
input[type="checkbox"]:hover:disabled,
input[type="checkbox"]:hover:active:disabled {
  -webkit-appearance: none !important;
  background-color: #181818 !important;
  border: 1px solid #484848 !important;
  color: #eee !important;
  height: 1em !important;
  width: 1em !important;
}
input[type=radio] {
  border-radius: 100% !important;
}
input[type="checkbox"]:checked {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z"/><path fill="%23ddd" d="M99 213l-1 89 104 102 205-201v-91L203 315 99 213z"/></svg>') !important;
  background-size: cover !important;
}
input[type="checkbox"]:indeterminate {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><rect width="512" height="512" fill="%23000"/><rect x="64" y="192" width="384" height="128" fill="%23ddd"/></svg>') !important;
  background-size: cover !important;
}
input[type=radio]:checked {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><rect width="512" height="512" fill="%23000"/><circle cx="256" cy="256" r="128" fill="%23ddd"/></svg>') !important;
  background-size: cover !important;
}
code {
  overflow: visible !important;
}
